* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navBarContainer {
  display: flex;
  width: 100%;
  height: 80px;
  background-color: red;
  border-bottom: 2px solid black;
  /* background-image: linear-gradient(180deg, red, yellow); */
}

.logoContainer {
  height: 100%;
  width: 30%;
  padding-left: 100px;
  /* text-align: center; */
}

.logoImage {
  height: 100%;
}

.navBar {
  height: 100%;
  width: 40%;
}

ul {
  width: 60%;
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
}

li {
  float: left;
  width: 50%;
  text-decoration: none;
}

.navTab {
  height: 50px;
  align-items: center;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  padding-top: 10px;
  cursor: pointer;
}

.searchBar {
  height: 100%;
  width: 30%;
  padding-top: 20px;
  text-align: center;
}

.searchFormInput {
  width: 60%;
  padding-left: 30px;
  color: yellow;
  font-size: 30px;
  border: none;
  border-bottom: 2px solid yellow;
  background-color: red;
  outline: none;
  background-image: url('https://cdn2.iconfinder.com/data/icons/font-awesome/1792/search-20.png');
  background-position: left center;
  background-repeat: no-repeat;
}

.showContainer {
  box-shadow: 10px 0px 50px 10px yellow inset, -10px 0px 50px 10px yellow inset;
}

.showRoomContainer {
  /* margin: 70px 70px 70px 50px; */
  padding-top: 70px;
  margin-left: 70px;
  margin-right: 70px;
  margin-bottom: 50px;
}

.showSliderTitle {
  text-align: center;
  font-size: 60px;
  color: yellow;
  background-image: linear-gradient(90deg, white, red, white);
}

.showSliderContainer {
  display: flex;
  overflow-x: scroll;
  margin-bottom: 70px;
}

.searchResultsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.searchTitle {
  font-size: 60px;
  margin-bottom: 30px;
  text-align: center;
  color: yellow;
  background-image: linear-gradient(90deg, white, red, white);
}

.showTileTitle {
  text-align: center;
  font-size: 20px;
}

.showTileContainer {
  width: 300px;
  cursor: pointer;
}

.showTileContainer:hover {
  box-shadow: 0px -5px red inset;
}

.infoPanelBackGround {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-color: white;
}

.infoPanelPoster {
  display: flex;
  height: 100%;
  border-right: 5px solid black;
}

.infoPanelPosterImage {
  width: 500px;
}

.infoPanelData {
  padding-top: 80px;
  padding-left: 60px;
  padding-right: 60px;
  box-shadow: 10px 0px 40px 10px yellow inset, -10px 0px 40px 10px yellow inset;
}

.infoPanelTitle {
  text-align: center;
  font-size: 60px;
  color: yellow;
  background-image: linear-gradient(90deg, white, red, white);
}

.infoPanelGenreList {
  width: 90%;
  padding-top: 10px;
  text-align: center;
}

.infoPanelGenreListElement {
  display: inline-block;
  width: 150px;
  float: none;
  font-weight: bold;
}

.infoPanelSection {
  display: flex;
  margin-top: 70px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.infoPanelDisc {
  width: 60%;
  padding-top: 25px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 10px;
  font-size: 20px;
  border: 2px solid black;
}

.infoPanelDetails {
  width: 40%;
  padding-left: 30px;
}

.infoPanelDetailList {
  list-style-type: disc;
  width: 80%;
  padding-top: 0px;
}

.infoPanelDetailListElements {
  float: none;
  width: 100%;
  font-size: 20px;
}

.infoPanelReview {
  position: absolute;
  top: 155px;
  left: 600px;
}

.infoPanelReviewStar {
  width: 200px;
}

.infoPanelReviewScore {
  position: relative;
  font-size: 30px;
  font-weight: bold;
  top: -130px;
  left: 77px;
  transform: rotate(-20deg);
}

.footer {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.footerImage {
  padding-left: 10px;
  width: 400px;
}

.showCarouselContainer {
  display: flex;
  height: 600px;
  width: 70%;
  align-items: center;
  padding-top: 50px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.farRightShow {
  position: relative;
  height: 240px;
  width: 160px;
  opacity: 0.4;
  z-index: 1;
  cursor: pointer;
}

.rightShow {
  position: relative;
  height: 350px;
  width: 220px;
  opacity: 0.7;
  z-index: 2;
  cursor: pointer;
}

.centerShow {
  position: relative;
  height: 454px;
  width: 300px;
  opacity: 1;
  z-index: 3;
  cursor: pointer;
}

.leftShow {
  position: relative;
  height: 350px;
  width: 220px;
  opacity: 0.7;
  z-index: 2;
  cursor: pointer;
}

.farLeftShow {
  position: relative;
  height: 240px;
  width: 160px;
  opacity: 0.4;
  z-index: 1;
  cursor: pointer;
}

.outsideCarouselView {
  height: 240px;
  width: 160px;
  opacity: 0;
}

.carouselImage {
  height: 100%;
  width: auto;
}

@Keyframes slide {
  0% {
    /* transform: translateX(0px); */
  }
  100% {
    transform: translateX(-160px);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    /* transform: translateX(0px); */
  }
  100% {
    opacity: 0.4;
    transform: translateX(-160px);
  }
}

@keyframes smallToMid {
  0% {
    height: 240px;
    width: 160px;
    opacity: 0.4;
    z-index: 1;
    /* transform: translateX(0px); */
  }
  100% {
    height: 350px;
    width: 220px;
    opacity: 0.7;
    z-index: 2;
    transform: translateX(-160px);
  }
}

@keyframes midToLarge {
  0% {
    height: 350px;
    width: 220px;
    opacity: 0.7;
    z-index: 2;
    /* transform: translateX(0px); */
  }
  100% {
    height: 454px;
    width: 300px;
    opacity: 1;
    z-index: 3;
    transform: translateX(-160px);
  }
}

@keyframes largeToMid {
  0% {
    height: 454px;
    width: 300px;
    opacity: 1;
    z-index: 3;
    /* transform: translateX(0px); */
  }
  100% {
    height: 350px;
    width: 220px;
    opacity: 0.7;
    z-index: 2;
    transform: translateX(-160px);
  }
}

@keyframes midToSmall {
  0% {
    height: 350px;
    width: 220px;
    opacity: 0.7;
    /* transform: translateX(0px); */
  }
  100% {
    height: 240px;
    width: 160px;
    opacity: 0.4;
    transform: translateX(-160px);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 0.4;
    /* transform: translateX(0px); */
  }
  100% {
    opacity: 0;
    transform: translateX(-160px);
  }

}
